:root {
   --app-width: 30rem;
   --toolbar-height: 5rem;

   --color-background: #000000;
   --color-container: #ffffff35;
   --color-accent: #ffffff;

   --spacing-large: 1.5rem;
   --spacing-medium: 1rem;
   --spacing-small: 0.5rem;

   --border-width: 2px;

   --border-radius-large: 1rem;
   --border-radius-medium: 0.85rem;
   --border-radius-small: 0.25rem;

   --font-size-large: 50%;
   --font-size-medium: 1rem;
   --font-size-small: 0.75rem;

   --animation-duration: 300ms;
}

html,
body {
   margin: 0;
   padding: 0;
   color: var(--color-accent);
   background-color: var(--color-background);
}
